body, header, nav, main, footer, h1, div, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.loglist{
    text-align: center;
    display: inline;
}

#reclog, #fullog {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

#reclog ul, #fullog ul{
    display: flex;
    flex-direction: column-reverse;
}

#reclog h2, #fullog h2{
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4caf50;
    color: white;
}

ul{
	list-style: none;
    
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

ul li{
	padding: 3px;
	margin-left: 0px;
}

ul a {
	color: #000;
    text-decoration: none;
}

ul li a{
    background-color: #4caf50;
	padding: 5px 20px;
    color: #fff;
	border: 1px solid #4caf50;
	transition: 0.6s ease;
}

ul li a:hover{
	color: #000;
}

ul li.active a{
	background-color: #295c2b;
	color: #000;
}
ul li.active a:hover{
	background-color: #4caf50;
	color: #fff;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.month {
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: bold;
}
th{
    padding: 10px;
    border-left: solid 1px #ddd;
    background-color: #4caf50;
    color: #fff;
}
td {
    border: 1px solid #ddd;
    padding: 60px;
    position: relative;
    text-align: left;
}
td:hover {
    background-color: #ddd;
}
span{
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
}